/* styles for font */
@font-face {
    font-family: prentadard;
    src: url(./assests/Pretendard-Light.otf);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: prentadard;
}

/* Modal styling */
.overlay {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.537);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal {
    z-index: 10;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: white;
    animation: trans ease-in-out 0.15s;
    transition: 0.15s ease-in-out;
}

@keyframes trans {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

header {
    border-bottom: 0.5px solid rgba(128, 128, 128, 0.523);
    padding: 10px 0px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0px;
    border-top: 0.5px solid rgba(128, 128, 128, 0.523);
}

.modalcontainer p {
    margin: 2px 0px;
}

.modalcontainer {
    width: 40vw;
}


.date_container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.input_container {
    margin: 10px 0px;
}

.input_container input {
    padding: 5px;
    width: 18vw;
    font-family: inherit;
    border: 1px solid rgba(0, 0, 0, 0.741);
    border-radius: 5px;
}

.adddate {
    width: 60px;
    height: 25px;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 15px;
    border: 2px solid #164ba166;
    color: grey;
    margin-top: 10px;
}

footer button {
    width: fit-content;
    padding: 10px;
    margin-left: 10px;
    border: none;
    font-size: medium;
    border-radius: 8px;
    cursor: pointer;
    font-family: inherit;
}

footer button:nth-child(1) {
    background-color: transparent;
}

footer button:nth-child(1):hover {
    background-color: #164ba11b;
}

footer button:nth-child(2) {
    background-color: #164ba1;
    color: white;
}


@media screen and (max-width: 760px) {
    .modalcontainer {
        width: 60vw;
    }

    .input_container input {
        width: 26vw;
    }
}

@media screen and (max-width: 460px) {
    .modalcontainer {
        width: 80vw;
    }

    .input_container input {
        width: 34vw;
    }
}

.excludeddateshow {
    width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.excludeddateshow small {
    display: inline-block;
    width: fit-content;
    border: 1px solid #164ba166;
    color: grey;
    padding: 3px;
    border-radius: 8px;
    margin-bottom: 5px;
    margin-right: 4px;
    cursor: pointer;
}


/* table and utility section  */
table,
th,
td {
    border-collapse: collapse;
    text-align: center;
}

th {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

th,
td,
.sticky_prop {
    padding: 15px 10px;
}

table tbody tr:nth-child(even),
table thead {
    background-color: #f0f4fa;

}

table {
    width: 100%;

}

.data-table {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 85vw;
    margin: auto;
    padding: 20px;
    height: fit-content;
    border: 0.5px solid black;
    border-radius: 10px;
    box-shadow: 4px 4px 5px 1px #f0f4fad9;
    position: relative;
}

.sticky_prop {
    position: sticky;
    top: 0;
    left: 0;
    width: 60px;
    border-right: 1px solid black;
}

table tbody tr .sticky_prop:nth-child(odd),
table thead .sticky_prop {
    background-color: #f0f4fa;
}

@media screen and (max-width: 760px) {
    .sticky_prop {
        width: 100px;
    }
}

.utility {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.utility_button button {
    width: 100px;
    height: 40px;
    font-size: medium;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    background-color: #164BA1;
    margin-left: 10px;
}

@media screen and (max-width: 480px) {
    .utility {
        flex-direction: column;
        align-items: flex-start;
    }

    .utility_button {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }

    .utility_button button {
        margin-right: 10px;
        margin-left: 0px;
    }

}
/* This css is only to give a center look to div */
.App {
    margin-top: 5%;
}

small img {
    width: 15px;
    filter: grayscale(100%);
}

.excludeddateshow {
    z-index: -999999999999999;
}